body{
  margin-top: 4vw;
  text-align:center;
}
ul{
  list-style:none;
  display: flex;
  float: left;
  height: 3vw;
  width: 100%;
  margin: auto;
}
h1{
  margin-bottom: 0px;
  font-family: ailerons, helvetica;
  color: #003138;
  background-color: #c1ba3e;
}
h2{
  margin-bottom: 0px;
  font-family: ailerons, helvetica;
  color: #003138;
  background-color: #c1ba3e;
}
p{
  background-color: #9f9785;
  color: white;
  padding: 1%;
  width: 100%;
}
a{
  color: #003138;
  text-decoration: none;
}
.video{
  max-height: 50vh;
  margin: 2vh;

}
.ul{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.intro{
  display: flex;
  flex-direction: row;
  font-family: helvetica;
  width: 100%;
  height: 100%;
  align-items: center;
  margin:auto;

}
.img-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 2vh;
  padding: 2vh;
}
.item{
  color: #003138;
  padding: 1%;
  margin-left: 10px;
  width: 100%;
  border: 1px  #9f9785;
  border-style: solid;
  text-align: justify;
  list-style: circle;
}

#container{
  display: flex;
  width: 100%;
  height: auto;
  margin: 1px;
  flex-direction: column;
}
#header{
  display: flex;
  float: left;
  width: 100%;
  height: 4vw;
  font-family: ailerons, helvetica;
  color: #003138;
  align-items: center;
  background-color: #c1ba3e;
  overflow: visible;
  position: fixed;
  top: 0;
}
#header-img{
  height: 100%;
  width: auto;
}
#form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 2vh;
  padding: 2vh;
}
#carac{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 2vh;
  padding: 2vh;
}
